<app-panel class="panel-actions">
  <app-panel-header>
    <button backButton class="btn btn-transparent btn-icon mr-3">
      <i class="material-icons">navigate_before</i>
    </button>

    <h2 [multilang]="name$ | async"></h2>

    <app-panel-header-actions>
      <ng-container *ngIf="editMode">
        <button class="btn btn-transparent btn-icon">
          <i class="material-icons mi-22">content_copy</i>
        </button>

        <button class="btn btn-transparent btn-icon ml-3" (click)="onDelete()">
          <i class="material-icons mi-26">delete_outline</i>
        </button>
      </ng-container>

      <a backButton role="button" class="font-weight-bold">
        {{ 'VIEWS.ASSET_DETAILS.CANCEL' | translate }}
      </a>

      <button class="btn btn-outline-primary" (click)="onDeallocate()" *ngIf="editMode">
        {{ 'VIEWS.ASSET_DETAILS.DEALLOCATE' | translate }}
      </button>

      <button class="btn btn-primary" (click)="onSave()">
        {{
          (editMode ? 'VIEWS.ASSET_DETAILS.SAVE_CHANGES' : 'VIEWS.ASSET_DETAILS.CREATE_ASSET')
            | translate
        }}
      </button>
    </app-panel-header-actions>
  </app-panel-header>
</app-panel>

<ng-container [formGroup]="form">
  <div class="row mb-4">
    <div class="col-12 col-md-7">
      <app-asset-details-form
        [parentForm]="form"
        [parentAssetName]="parent?.name"
        [assetTypeId]="asset.assetType?.id || null"
      ></app-asset-details-form>
    </div>

    <div class="col-12 col-md-5">
      <app-asset-aliases formControlName="aliases"></app-asset-aliases>
    </div>
  </div>

  <div class="row flex-grow-1">
    <div class="col-12 col-md-4">
      <app-asset-dynamic-properties
        [assetId]="asset.id"
        (setChangedProperties)="setChangedProperties($event)"
      ></app-asset-dynamic-properties>
    </div>
    <div class="col-12 col-md-4">
      <app-asset-documents formControlName="documents"></app-asset-documents>
    </div>

    <div class="col-12 col-md-4">
      <app-asset-history [assetId]="asset.id"></app-asset-history>
    </div>
  </div>
</ng-container>
