.page-wrapper {
  margin: 0 auto;
  padding-top: 50px;
  width: 96%;
  height: 100vh;
}
.page {
  background-color: #efefef;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
