@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  &::ng-deep {
    .panel-actions {
      .panel {
        background-color: transparent;
        border: 0;
      }

      .panel-header {
        border: 0;
        padding: 0;
        min-height: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
