<ng-container *ngIf="config">
  <a
    [href]="
      config.appUrl.includes('http://') || config.appUrl.includes('https://')
        ? config.appUrl
        : baseUrl + config.appUrl
    "
    [target]="
      config.appUrl.includes('http://') || config.appUrl.includes('https://') ? '_blank' : ''
    "
    (click)="preventInPreviewMode($event, input)"
  >
    <div
      class="card service"
      [ngStyle]="{ 'background-color': config && config.tileColor }"
      [ngClass]="{ preview: mode === 'preview' }"
    >
      <div
        class="image-placeholder d-flex justify-content-center align-items-center"
        [ngClass]="{ 'no-desc': !config.desc }"
      >
        <img [src]="config.iconUrl | iconUrl" />
      </div>
      <div class="card-body" [ngStyle]="{ color: config && config.tileTextColor }">
        <h5 class="card-title text-center" [ngStyle]="{ color: config && config.tileTextColor }">
          <b>{{ config.tileName || 'Empty name' }}</b>
        </h5>
        <p class="card-text text-center" *ngIf="config.desc">
          {{ config.desc }}
        </p>
      </div>
    </div>
  </a>
  <input
    #input
    (change)="customEventHandler($event.target.files)"
    type="file"
    class="hidden-input"
    multiple
  />
</ng-container>
