<app-panel>
  <app-panel-header>
    <i class="material-icons mr-3">qr_code</i>
    <h4>{{ 'VIEWS.ASSET_DETAILS.ASSET_ALIASES' | translate }}</h4>

    <app-panel-header-actions>
      <button class="btn btn-outline-primary" [disabled]="disabled" (click)="openAddAliasModal()">
        {{ 'VIEWS.ASSET_DETAILS.ADD_ALIAS' | translate }}
      </button>
    </app-panel-header-actions>
  </app-panel-header>

  <app-panel-body class="p-0">
    <app-table class="w-100" [data]="aliases" [scrollable]="true">
      <app-row *appHeaderRowDef>
        <app-header-cell appHeaderSort="alias">
          {{ 'VIEWS.ASSET_DETAILS.ALIAS' | translate }}
        </app-header-cell>
        <app-header-cell appHeaderSort="createdAt">
          {{ 'VIEWS.ASSET_DETAILS.CREATED_AT' | translate }}
        </app-header-cell>
        <app-header-cell appHeaderSort="createdBy">
          {{ 'VIEWS.ASSET_DETAILS.CREATED_BY' | translate }}
        </app-header-cell>
      </app-row>

      <app-row appDataRow *appDataRowDef="let alias">
        <app-cell>{{ alias.alias }}</app-cell>
        <app-cell>{{ alias.createdAt | date: 'dd.MM.yyyy | HH:mm' }}</app-cell>
        <app-cell><a role="button">{{ alias.createdBy | username | async }}</a></app-cell>
      </app-row>

      <app-row appEmptyRow *appEmptyRowDef>
        <span>No aliases found</span>
      </app-row>
    </app-table>
  </app-panel-body>
</app-panel>
