// Colors
$white: #fff;
$gray-100: #fafafa;
$gray-200: #efefef;
$gray-300: #e6e6e6;
$gray-400: #e2e2e2;
$gray-500: #cecece;
$gray-600: #9f9f9f;
$gray-700: #707070;
$gray-800: #484848;
$gray-900: #393939;
$black: #000;

$grays: ();
$grays: map-merge(
    (
      '100': $gray-100,
      '200': $gray-200,
      '300': $gray-300,
      '400': $gray-400,
      '500': $gray-500,
      '600': $gray-600,
      '700': $gray-700,
      '800': $gray-800,
      '900': $gray-900,
    ),
    $grays
);

$blue: #0090d4;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$colors: ();
$colors: map-merge(
    (
      'blue': $blue,
      'indigo': $indigo,
      'purple': $purple,
      'pink': $pink,
      'red': $red,
      'orange': $orange,
      'yellow': $yellow,
      'green': $green,
      'teal': $teal,
      'cyan': $cyan,
      'white': $white,
      'gray': $gray-600,
      'gray-dark': $gray-900,
    ),
    $colors
);

$primary: $blue;
$secondary: $black;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: ();
$theme-colors: map-merge(
    (
      'primary': $primary,
      'secondary': $secondary,
      'success': $success,
      'info': $info,
      'warning': $warning,
      'danger': $danger,
      'light': $light,
      'dark': $dark,
    ),
    $theme-colors
);

// Options
$enable-rounded: false;

// Body
$body-bg: $gray-200;
$body-color: $gray-900;

// Links
$link-color: $body-color;
$link-decoration: none;
$link-hover-color: $gray-600;
$link-hover-decoration: underline;

// Paragraphs
$paragraph-margin-bottom: 0;

// Grid columns
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;

// Components
$border-color: $gray-400;
$border-radius: 0.25rem;
$border-radius-lg: 0.625rem;

// Typography
$font-family-sans-serif: 'Oxygen', sans-serif;

$font-size-base: 0.75rem;
$font-size-lg: 0.875rem;
$font-size-sm: 0.625rem;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: bold;
$font-weight-bolder: bolder;

$h1-font-size: 1.375rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$h4-font-size: 1rem;
$h5-font-size: $font-size-lg;
$h6-font-size: $font-size-base;

$headings-font-weight: bold;
$headings-line-height: 1.3;

$small-font-size: $font-size-sm;

// Tables
$table-cell-padding-x: 0.5rem;
$table-cell-padding-y: 1.25rem;
$table-cell-padding-sm: 0.5rem;

$table-bg: $white;
$table-accent-bg: $gray-100;

$table-border-width: 1px;
$table-border-color: $gray-200;

$table-head-bg: $gray-200;

$table-striped-order: odd;

$table-bordered-cell-height: 46px;

// Buttons + Forms
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1.5rem;

$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: none;

// Buttons
$btn-line-height: normal;

$btn-font-weight: $font-weight-normal;
$btn-box-shadow: none;
$btn-active-box-shadow: none;

$btn-border-width: 2px;

// Forms
$label-margin-bottom: 0.5rem;

$input-padding-y-sm: 0.5rem;
$input-padding-x-sm: 1rem;
$input-font-size-sm: $font-size-base;

$input-bg: transparent;
$input-disabled-bg: $light;

$input-color: $body-color;
$input-border-color: $gray-300;
$input-box-shadow: none;

$input-border-radius: 0;

$input-focus-border-color: $dark;
$input-focus-color: $body-color;

$input-placeholder-color: $gray-600;

$input-height: 40px;
$input-height-sm: 36px;
$input-height-lg: 44px;

$form-group-margin-bottom: 1rem;

// Navs
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;

// Dropdowns
$dropdown-min-width: 0;
$dropdown-padding-y: 0.5rem;
$dropdown-font-size: $font-size-base;
$dropdown-color: $secondary;
$dropdown-bg: $white;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-divider-bg: $gray-200;
$dropdown-box-shadow: 0 3px 6px rgba($black, 30%);

$dropdown-link-color: rgba($secondary, 87%);
$dropdown-link-hover-color: rgba($secondary, 87%);
$dropdown-link-hover-bg: darken($white, 5%);

$dropdown-link-active-color: $secondary;
$dropdown-link-active-bg: darken($white, 10%);

$dropdown-link-disabled-color: $gray-600;

$dropdown-item-padding-y: 0.25rem;
$dropdown-item-padding-x: 1.25rem;

$dropdown-header-color: $body-color;

$dropup-box-shadow: 0 0 6px rgba($black, 30%);

// Cards
$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-border-width: 0;

// Modals
$modal-header-padding-y: 0.5rem;
$modal-header-padding-x: 1rem;

// Header
$header-height: 56px;
$header-padding-y: 0;
$header-padding-x: 2rem;

// Footer
$footer-padding-y: 1rem;
$footer-padding-x: 2rem;

// Panel
$panel-padding-y: 0.75rem;
$panel-padding-x: 2rem;

// Checkbox
$checkbox-size: 16px;
$checkbox-tick-height: 9px;
$checkbox-tick-width: 5px;
$checkbox-border-radius: 2px;

