{{assign 'additionalStyle' '../../style.css'}}

<div class='login-card'>
  <div class='text-center logo'>
    <img src='../../logo.svg' alt='shopfloor.io' style='width: 200px; max-width: 100%;' />
  </div>
  <p>Willkommen bei shopfloor.io.</p>
  <p>Bitte melden Sie sich an,</p>
  <p>um die Applikationen zu nutzen.</p>
  <form class='login-form' method='POST' action=''>
    {{! <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password"> }}
    <button>Login</button>
  </form>
</div>
