{{assign 'title' '"Weiterleiten ..."'}}
{{assign 'metaRedirect' true}}

<div class="m-4 text-left">
    <h2>Die angeforderte Seite wurde nicht gefunden.</h2>
    <a href="{{redirectUrl}}">Sie werden in Kürze weitergeleitet. Klicken Sie alternativ hier.</a>
    <hr />
</div>